body {
    background: url(../images/BG.png) no-repeat fixed top center;
    background-size: cover;
}

.statusbar {
    width: 100%;
}

.logo {
    width: 45%;
    margin-left: 28%;
    margin-top: 30px;
}

.form {
    margin-top: 5%;
    background-color: rgba(255, 255, 255, .95);
    width: 80%;
    padding: 20px 10px 10px;
    border-radius: 10px;
    font: 18px 'Monserrat', 'Arial', sans-serif 100;
    margin-left: 10%;
}

.form label {
    color: #a2a1b8;
    margin-left: 5%;
}

.form input:not([type=sumbit]) {
    border: none;
    background: none;
    border-bottom: 1px solid #000;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
}

.form input[type=submit] {
    background-color: #7a032a;
    color: #fff;
    border-radius: 45px;
    width: 90%;
    margin-left: 5%;
    border: none;
    padding: 10px 0;
    margin-bottom: 40px;
}

.signupLink {
    color: #a2a1b8;
    text-align: center;
}

.share {
    text-align: center;
    font: 20px 'Monserrat', 'Arial', sans-serif;
    color: #fff;
    text-shadow: 2px 2px #666;
    margin-top: 40px;
}

.socialIcon {
    margin: 10px 20px;
}

.fa-angle-left {
    color: #fff;
    font-size: 30px;
    margin-top: 10px;
}

h2 {
    color: #a2a1b8;
    font: 20px 'Monserrat', 'Arial', sans-serif 100;
    text-align: center;
    margin-bottom: 10px;
}